{{- if or .Values.loki.enabled .Values.promtail.enabled }}
{{- include "values-secret" (dict "root" $ "package" .Values.loki "name" "loki" "defaults" (include "bigbang.defaults.loki" .)) }}
{{- end }}

{{- define "bigbang.defaults.loki" -}}
hostname: {{ .Values.hostname }}

openshift: {{ .Values.openshift }}

istio:
  enabled: {{ .Values.istio.enabled }}

imagePullSecrets:
  - name: private-registry

image:
  pullPolicy: {{ .Values.imagePullPolicy }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

istio:
  enabled: {{ .Values.istio.enabled }} 

{{- if (eq .Values.loki.strategy "scalable") }}
global:
  storage:
    bucketNames:
      {{ toYaml .Values.loki.objectStorage.bucketNames | 8 }}
    type: {{ .Values.loki.objectStorage.type }}
    s3:
      endpoint: {{ .Values.loki.objectStorage.endpoint }}
      region: {{ .Values.loki.objectStorage.region }}
      accessKeyId: {{ .Values.loki.objectStorage.accessKey }}
      secretAccessKey: {{ .Values.loki.objectStorage.accessSecret }}

{{- with .Values.loki.objectStorage }}
{{- if not (and .endpoint .bucketNames) }}
minio:
  enabled: true
{{- end }}
{{- end }}
{{- end }}

{{- if .Values.istio.enabled }}
podAnnotations:
  {{ include "istioAnnotation" . }}
{{- end }}

loki:
  enabled: {{ eq .Values.loki.strategy "monolith" }}
  serviceMonitor:
    enabled: {{ .Values.monitoring.enabled }}

loki-simple-scalable:
  enabled: {{ eq .Values.loki.strategy "scalable" }}
  imagePullSecrets:
    - name: private-registry
  serviceMonitor:
    enabled: {{ .Values.monitoring.enabled }}

{{- end -}}
